.md-card .md-card-content {
    padding: 5px 10px;
}

.md-card .md-title {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 32px;
}
.md-card .md-card-header,
.md-card-header {
    padding: 9px;
}
