.md-card .md-card-content {
    padding: 5px 2px;
}

.md-card .md-card-header {
    margin: 0;
}
.md-dialog {
    max-width: 95%;
    max-height: 95%;
}

.md-dialog-container {
    overflow: hidden;
}

