.md-toolbar {
    flex: 0 0 auto;
    margin-right: auto;
    margin-left: auto;
    padding: 0 16px;
}

.md-toolbar .md-toolbar-row {
    min-height: 64px;
    padding-left: 0px;
    padding-right: 0px;
}
